<!-- Main Wrapper -->
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="assets/admin/img/logo-white.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Mot de passe oublié?</h1>
                        <p class="account-subtitle">Entrez votre email pour obtenir un lien de réinitialisation du mot de passe</p>
                        
                        <!-- Form -->
                        <form [routerLink]="'login-page'">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block" type="submit">réinitialiser le mot de passe</button>
                            </div>
                        </form>
                        <!-- /Form -->
                        
                        <div class="text-center dont-have">Rappelez-vous votre mot de passe? <a [routerLink]="'/admin/login-form'">Connexion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->