<div class="page-wrapper">
	<div class="content container-fluid">			
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Liste des rendez-vous</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Tableau de bord</a></li>
						<li class="breadcrumb-item active">Rendez-vous</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">						
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="row-border hover table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Nom de médecin</th>
										<th>Spécialité</th>
										<th>Nom du patient</th>
										<th>Temps de rendez-vous</th>
										<th>Statut</th>
										<th class="text-right">Montant</th>
									</tr>
								</thead>
								<tbody>

									<tr *ngFor="let app of showConsultations">
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2">
													<img *ngIf="app.msexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/fdoc.png" alt="User Image">
													<img *ngIf="app.msexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/mdoc.png" alt="User Image">
												</a>
												<a [routerLink]="'/admin/doc-profile'">Dr. {{app.medecinnom}} {{app.medecinprenom}}</a>
											</h2>
										</td>
										<td>{{app.libelle}}</td>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/doc-profile'" class="avatar avatar-sm mr-2">
													<img *ngIf="app.sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/fpat.png" alt="User Image">
													<img *ngIf="app.sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/mpat.png" alt="User Image">
												</a>
												<a [routerLink]="'/admin/doc-profile'">{{app.nom}} {{app.prenom}} </a>
											</h2>
										</td>
										<td> {{app.date}} <span class="text-primary d-block">{{app.heure}}</span></td>
										<td>
											<div class="status-toggle">

												<input *ngIf="app.etat=='Accepter'" type="checkbox" (change)="onchange(app.etat,app.const_id)" id="{{app.const_id}}" class="check" checked>
												<input *ngIf="app.etat=='Annuler'" type="checkbox" (change)="onchange(app.etat,app.const_id)" id="{{app.const_id}}" class="check">
												<label for="{{app.const_id}}" class="checktoggle">case à cocher</label>
											</div>
										</td>
										<td class="text-right">
											{{app.tarif}} DH
										</td>
									</tr>
							
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->						
				</div>
			</div>
		</div>			
</div>