<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
  <li class="nav-item">
      <a class="nav-link active m-4" data-toggle="tab">List des rendez vous</a>
  </li>
  <!-- <li class="nav-item">
      <a class="nav-link" href="#today" [ngClass]="{ 'active':activeTab==='today'}" (click)="result('today')" data-toggle="tab">Aujourd'hui</a>
  </li>  -->
</ul>
<div class="appointments">
							
    <!-- Appointment List -->
    <div class="appointment-list" *ngFor="let patient of AppointmentsInfo">
        <div class="profile-info-widget">
            <a class="booking-doc-img">
                <img src="https://cdn3.iconfinder.com/data/icons/toolbar-people/512/user_appointment_man_male_profile_account-512.png" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h3><a >{{patient.nom}} {{patient.prenom}}</a></h3>
                <div class="patient-details">
                    <h5><i class="far fa-clock"></i> {{patient.date}} {{patient.heure}}</h5>
                    <h5><i class="fas fa-map-marker-alt"></i> Consultation état 
                    <span _ngcontent-yos-c204="" *ngIf="patient.etat == 'Accepter'" class="badge badge-pill bg-success-light">{{patient.etat}} </span>
                    <span _ngcontent-yos-c204="" *ngIf="patient.etat == 'Annuler'" class="badge badge-pill bg-danger-light">{{patient.etat}} </span>
                    <span _ngcontent-yos-c204="" *ngIf="patient.etat == 'En attente'" class="badge badge-pill bg-warning-light">{{patient.etat}} </span>
                  </h5>
                    <h5><i class="fas fa-envelope"></i> {{patient.email}}</h5>
                    <h5 class="mb-0"><i class="fas fa-phone"></i> {{patient.telePerso}}</h5>
                </div>
            </div>
        </div>
        <!-- <div class="appointment-action">
            <a href="javascript:void(0)" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
            </a>
            <a (click)="openModal(template,patient)" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
            </a>
            <a (click)="openModal(Declinetemplate,patient)" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
            </a>
        </div> -->
    </div>
    <!-- /Appointment List -->

</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Accepter</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Êtes-vous sûr que vous voulez accepter ce patient?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" id="btn-yes" (mouseover)="btnColor()" (click)="modalRef.hide()" >Oui</button>
        <button type="button" class="btn btn-primary" id="btn-no" (mouseover)="btnColorNo()" (click)="modalRef.hide()" >Non</button>
      </div>
    </div>
  </ng-template>

  <ng-template #Declinetemplate>
    <div class="modal-header">
     <h4 class="modal-title pull-left">Annuler</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Êtes-vous sûr que vous voulez annuler ce patient?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" id="btn-yes" (mouseover)="btnColor()" (click)="modalRef.hide()" >Oui</button>
        <button type="button" class="btn btn-primary" id="btn-no" (mouseover)="btnColorNo()" (click)="modalRef.hide()" >Non</button>
     </div>
    </div>
  </ng-template>
