<div class="appointments">
							
    <!-- Appointment List -->
    <div class="appointment-list" *ngFor="let patient of AppointmentsInfo">
        <div class="profile-info-widget">
            <a class="booking-doc-img">
                <img src="https://cdn0.iconfinder.com/data/icons/users-1/512/25-512.png" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h3><a >{{patient.nom}} {{patient.prenom}}</a></h3>
                <div class="patient-details">
                    <h5><i class="far fa-clock"></i> {{patient.date}} {{patient.heure}}</h5>
                    <h5><i class="fas fa-map-marker-alt"></i> Consultation état : {{patient.etat}}</h5>
                    <h5><i class="fas fa-envelope"></i> {{patient.email}}</h5>
                    <h5 class="mb-0"><i class="fas fa-phone"></i> {{patient.telePerso}}</h5>
                </div>
            </div>
        </div>
        <!-- <div class="appointment-action">
            <a href="javascript:void(0)" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                <i class="far fa-eye"></i> View
            </a>
            <a (click)="openModal(template,patient)" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
            </a>
            <a (click)="openModal(Declinetemplate,patient)" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
            </a>
        </div> -->
    </div>
    <!-- /Appointment List -->

</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Accepter</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Êtes-vous sûr que vous voulez accepter ce patient?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" id="btn-yes" (mouseover)="btnColor()" (click)="modalRef.hide()" >Oui</button>
        <button type="button" class="btn btn-primary" id="btn-no" (mouseover)="btnColorNo()" (click)="modalRef.hide()" >Non</button>
      </div>
    </div>
  </ng-template>

  <ng-template #Declinetemplate>
    <div class="modal-header">
     <h4 class="modal-title pull-left">Annuler</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Êtes-vous sûr que vous voulez annuler ce patient?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" id="btn-yes" (mouseover)="btnColor()" (click)="modalRef.hide()" >Oui</button>
        <button type="button" class="btn btn-primary" id="btn-no" (mouseover)="btnColorNo()" (click)="modalRef.hide()" >Non</button>
     </div>
    </div>
  </ng-template>
