 <div class="page-wrapper">
	<div class="content container-fluid">	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Liste des médecins</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Tableau de bord</a></li>
						<li class="breadcrumb-item"><a href="javascript:(0);">Utilisateurs</a></li>
						<li class="breadcrumb-item active">Médecin</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive" *ngIf="doctorsList">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Nom du médecin</th>
										<th>Spécialité</th>
										<!-- <th>Member Since</th> -->
										<th>Tarif</th>
										<th>Etat du compte</th>
										
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let doctor of doctorsinfo">
										<td>
											<h2 class="table-avatar">
												<a href="javascript:void(0)" class="avatar avatar-sm mr-2">
													<img *ngIf="doctor.sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/fdoc.png" alt="User Image">
													<img *ngIf="doctor.sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/mdoc.png" alt="User Image">		
												</a>
												<a>Dr. {{doctor.nom}} {{doctor.prenom}}</a>
											</h2>
										</td>
										<td>{{doctor.libelle}}</td>
										
										<!-- <td>{{doctor.since | date : 'dd MMM yyyy hh mm a'}}</td> -->
										
										<td>{{doctor.tarifs}}DH</td>
										
										<td>
											<div class="status-toggle">

												<input *ngIf="doctor.isActive=='1'" type="checkbox" (change)="onchange(doctor.isActive,doctor.user_id)" id="{{doctor.user_id}}" class="check" checked>
												<input *ngIf="doctor.isActive=='0'" type="checkbox" (change)="onchange(doctor.isActive,doctor.user_id)" id="{{doctor.user_id}}" class="check">
												<label for="{{doctor.user_id}}" class="checktoggle">checkbox</label>
											</div>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
	</div>			
</div>