<!-- Breadcrumb -->
		<!-- 	<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Checkout</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Checkout</h2>
						</div>
					</div>
				</div>
			</div> -->
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="d-flex justify-content-center">
						<div class="col-8">
							<div class="card">
								<div class="card-body">
									<form [formGroup]="myForm" (ngSubmit)="booking()">
											
												<h4 class="card-title">Les informations du rendez-vous</h4>
													<div class="form-group card-label">
														<label>Raison du rendez-vous</label>
														<textarea name="" class="form-control" id="" formControlName="Raison" rows="5"></textarea>
													</div>
													<div class="form-group card-label">
														<label>Type de rendez-vous</label>
														<select name="" class="form-control" id="" aria-placeholder="Le type de consultation" formControlName="Type">
															<option value="Presentiel">Presentiel</option>
															<option value="A distance">A distance</option>
														</select>
													</div>
													<div class="submit-section d-flex justify-content-center">
														<button  type="submit" [disabled]="!myForm.valid" class="btn btn-primary submit-btn">Confirmer la consultation </button>
													</div>

										
									</form>
									
								</div>
							</div>
							
						</div>

					</div>

				</div>

			</div>		
			<!-- /Page Content -->