<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Modifier vos informations</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" (ngSubmit)="update()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nom<span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="nom">
                            </div>
                            <div class="form-group">
                                <label>Prenom<span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="prenom">
                            </div>
                            <div class="form-group">
                                <label>Spécialité<span class="required">*</span></label>
                                <select class="select form-control" formControlName="specialite">
                                    <option *ngFor="let spec of specs" [value]="spec.spec_id">{{spec.libelle}}</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label class="d-block">Sexe<span class="required">*</span></label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_male" value="m" formControlName="sexe">
                                    <label class="form-check-label" for="gender_male">Masculin</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_female" value="f" formControlName="sexe">
                                    <label class="form-check-label" for="gender_female">Féminin</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telephone personnel<span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="teleP">
                            </div>
                            <div class="form-group">
                                <label>Telephone de cabinet<span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="teleC">
                            </div>

                            <div class="form-group">
                                <label>Adresse de cabinet<span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="adresse">
                            </div>
                            <div class="form-group">
                                <label>Ville<span class="required">*</span></label>
                                <select class="select form-control" formControlName="ville">
                                    <option>Marrakech</option>
                                    <option>Rabat</option>
                                    <option>Casablanca</option>
                                    <option>Fes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="d-block">Vous étes un professionel de santé ?<span class="required">*</span></label>
                                <div class="form-control border-0 ml-0  pl-0 form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="titre" id="titre" formControlName="titre">
                                    <label class="form-check-label" for="titre">Oui</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Site web<span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="siteweb">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tarif<span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="tarif">
                            </div>
                            <div class="form-group">
                                <label>Duree<span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="duree">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="submit-section col-6 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary submit-btn" [disabled]="!myForm.valid">Modifier</button>
                        </div>
                        <div class="submit-section col-6 d-flex justify-content-center">
                            <button type="reset" [routerLink]="'/doctor/dashboard'" class="btn btn-primary submit-btn">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>