<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Modifier vos informations</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm" (ngSubmit)="signup()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control" formControlName="nom">
                            </div>
                            <div class="form-group">
                                <label>Prenom</label>
                                <input type="text" class="form-control" formControlName="prenom">
                            </div>
                            <div class="form-group">
                                <label>Spécialités</label>
                                <select class="select form-control" formControlName="specialite">
                                    <option *ngFor="let spec of specs" [value]="spec.spec_id">{{spec.libelle}}</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label class="d-block">Sexe :</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_male" value="m" formControlName="sexe">
                                    <label class="form-check-label" for="gender_male">Masculin</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_female" value="f" formControlName="sexe">
                                    <label class="form-check-label" for="gender_female">Féminin</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Téléphone personnel</label>
                                <input type="text" class="form-control" formControlName="teleP">
                            </div>
                            <div class="form-group">
                                <label>Téléphone de cabinet</label>
                                <input type="text" class="form-control" formControlName="teleC">
                            </div>

                            <div class="form-group">
                                <label>Adresse de cabinet</label>
                                <input type="text" class="form-control" formControlName="adresse">
                            </div>
                            <div class="form-group">
                                <label>Ville</label>
                                <input type="text" class="form-control" formControlName="ville">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Titre</label>
                                <input type="text" class="form-control" formControlName="titre">
                            </div>
                            <div class="form-group">
                                <label>Site web</label>
                                <input type="text" class="form-control" formControlName="siteweb">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tarif</label>
                                <input type="text" class="form-control" formControlName="tarif">
                            </div>
                            <div class="form-group">
                                <label>Duree</label>
                                <input type="text" class="form-control" formControlName="duree">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>