<!-- Main Wrapper -->
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="assets/admin/img/logo-white.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Se connecter</h1>
                        <p class="account-subtitle">Accédez à notre tableau de bord</p>
                        
                        <!-- Form -->
                        <form [formGroup]="myForm" (ngSubmit)="login()">
                            <div *ngIf="this.error != ''" class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{this.error}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email"  formControlName="username">

                                <span *ngIf="myForm.get('username')!.touched && myForm.get('username')!.hasError('required')" class="text-danger">Veuillez saisir l'e-mail</span>
                                <span *ngIf="myForm.get('username')!.touched && myForm.get('username')!.hasError('minlength')" class="text-danger">La longueur minimale des caractères requise est de 5</span>
                                <span *ngIf="myForm.get('username')!.touched && myForm.get('username')!.hasError('email')" class="text-danger">Veuillez saisir une adresse e-mail valide</span>

                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Password" formControlName="password">

                                <span *ngIf="myForm.get('password')!.touched && myForm.get('password')!.hasError('required')" class="text-danger">S'il vous plaît entrer le mot de passe</span>
									<span *ngIf="myForm.get('password')!.touched && myForm.get('password')!.hasError('minlength')" class="text-danger">La longueur minimale des caractères requise est de 8</span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit" [disabled]="!myForm.valid" >Se connecter</button>
                            </div>
                        </form>
                        <!-- /Form -->
                        
                        <div class="text-center forgotpass"><a [routerLink]="'/admin/forgot-pass'">Mot de passe oublié?</a></div>
                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">ou</span>
                        </div>
                          
                        <!-- Social Login -->
                        <!-- <div class="social-login">
                            <span>Se connecter avec</span>
                            <a href="javascript:void(0);" class="facebook"><i class="fa fa-facebook"></i></a><a href="javascript:void(0);" class="google"><i class="fa fa-google"></i></a>
                        </div> -->
                        <!-- /Social Login -->
                        
                        <div class="text-center dont-have">Vous n’avez pas de compte? <a [routerLink]="'/admin/register'">S'inscrire</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->