
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Horaires</h4>
                <div class="profile-box">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">               
                                <label>Duree du rendez-vous</label>
                                <ng-select2  width="100%" [(ngModel)]="select" [data]="DUR_DATA" (valueChanged)="CheckVal($event)">
                                </ng-select2>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Session</label>
                                <ng-select2  width="100%" [(ngModel)]="select2" [data]="this.SLOT_DATA" (valueChanged)="CheckVal2($event)">
                                </ng-select2>
                            </div> 
                        </div>
                        <div class="col-lg-4 row">
                            <div class="col-4"><label class="d-md-block d-sm-none d-none">&nbsp;</label><button (click)="Send()" class="btn btn-outline-primary"><i class="fa fa-plus-circle"></i></button></div>
                            <div class="col-4"><label class="d-md-block d-sm-none d-none">&nbsp;</label><button (click)="deleteDay()" class="btn btn-outline-warning"><i class="fas fa-backspace"></i></button></div>
                            <div class="col-4"><label class="d-md-block d-sm-none d-none">&nbsp;</label><button (click)="deleteAll()" class="btn btn-outline-danger"><i class="fas fa-calendar-times"></i></button></div>
                        </div>
                       
                    </div>     
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card schedule-widget mb-0">
                            
                                <!-- Schedule Header -->
                                <div class="schedule-header">
                                
                                    <!-- Schedule Nav -->
                                    <div class="schedule-nav">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#slot_dimanche" (click)="dimanche()">dimanche</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#slot_lundi" (click)="lundi()">lundi</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#slot_mardi" (click)="mardi()">mardi</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#slot_mercredi" (click)="mercredi()">mercredi</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#slot_jeudi" (click)="jeudi()">jeudi</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#slot_vendredi" (click)="vendredi()">vendredi</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#slot_samedi" (click)="samedi()">samedi</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /Schedule Nav -->
                                    
                                </div>
                                <!-- /Schedule Header -->
                                
                                <!-- Schedule Content -->
                                <div class="tab-content schedule-cont">
                                
                                    <!-- dimanche Slot -->
                                    <div id="slot_dimanche" class="tab-pane fade">
                                        <div class="doc-times">
                                            <div *ngFor="let slot of SLOT_Dimanche" class="doc-slot-list">
                                                {{slot.hour}}
                                               <a href="javascript:void(0)" class="delete_schedule" (click)="delete(slot.id)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                         </div>
                                    </div>
                                    <!-- /dimanche Slot -->

                                    <!-- lundi Slot -->
                                    <div id="slot_lundi" class="tab-pane fade show active">
                                        <!-- Slot List -->
                                        <div class="doc-times">
                                            <div *ngFor="let slot of SLOT_Lundi" class="doc-slot-list">
                                                {{slot.hour}}
                                                <a href="javascript:void(0)" class="delete_schedule" (click)="delete(slot.id)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Slot List -->
                                    </div>
                                    <!-- /lundi Slot -->

                                    <!-- mardi Slot -->
                                    <div id="slot_mardi" class="tab-pane fade">
                                        <div class="doc-times">
                                            <div *ngFor="let slot of SLOT_Mardi" class="doc-slot-list">
                                                {{slot.hour}}
                                                <a href="javascript:void(0)" class="delete_schedule" (click)="delete(slot.id)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                         </div>
                                    </div>
                                    <!-- /mardi Slot -->

                                    <!-- mercredi Slot -->
                                    <div id="slot_mercredi" class="tab-pane fade">
                                        <div class="doc-times">
                                            <div *ngFor="let slot of SLOT_Mercredi" class="doc-slot-list">
                                                {{slot.hour}}
                                                 <a href="javascript:void(0)" class="delete_schedule" (click)="delete(slot.id)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                         </div>
                                    </div>
                                    <!-- /mercredi Slot -->

                                    <!-- jeudi Slot -->
                                    <div id="slot_jeudi" class="tab-pane fade">
                                        <div class="doc-times">
                                            <div *ngFor="let slot of SLOT_Jeudi" class="doc-slot-list">
                                                {{slot.hour}}
                                                <a href="javascript:void(0)" class="delete_schedule" (click)="delete(slot.id)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                         </div>
                                    </div>
                                    <!-- /jeudi Slot -->

                                    <!-- vendredi Slot -->
                                    <div id="slot_vendredi" class="tab-pane fade">
                                        <div class="doc-times">
                                            <div *ngFor="let slot of SLOT_Vendredi" class="doc-slot-list">
                                                {{slot.hour}}
                                                <a href="javascript:void(0)" class="delete_schedule" (click)="delete(slot.id)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                         </div>
                                    </div>
                                    <!-- /vendredi Slot -->

                                    <!-- samedi Slot -->
                                    <div id="slot_samedi" class="tab-pane fade">
                                        <div class="doc-times">
                                            <div *ngFor="let slot of SLOT_Samedi" class="doc-slot-list">
                                                {{slot.hour}}
                                                <a href="javascript:void(0)" class="delete_schedule" (click)="delete(slot.id)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                         </div>
                                    </div>
                                    <!-- /samedi Slot -->

                                </div>

                                    
                                
                                <!-- /Schedule Content -->
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


