<div class="row row-grid">
    <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let patient of AppointmentsInfo" [hidden]="patients.length === 0">
        <div class="card widget-profile pat-widget-profile">
            <div class="card-body">
                <div class="pro-widget-content">
                    <div class="profile-info-widget">
                        <a class="booking-doc-img">
                            <img *ngIf="patient.sexe == 'm'" src="../../../assets/admin/img/patients/mpat.png" alt="User Image">
                            <img *ngIf="patient.sexe == 'f'" src="../../../assets/admin/img/patients/fpat.png" alt="User Image">
                        </a>
                        <div class="profile-det-info">
                            <h3><a >{{patient.nom}} {{patient.prenom}}</a></h3>
                            
                            <div class="patient-details">
                                <h5><b>Identifiant du patient :</b> {{patient.patient_id}}</h5>
                                <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{patient.pays}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="patient-info">
                    <ul>
                        <li>Téléphone <span>{{patient.telePerso}}</span></li>
                        <li>Âge <span>{{this.getDate(patient.dateNaiss)}} ans</span></li>
                        <li>Genre <span>{{patient.sexe}}</span></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
 
           
    
   
    
</div>