
    <!--Top Header -->
    <div class="header-top" *ngIf="headerTop">
        <div class="left-top ">
            <ul>
                <li><i class="fas fa-map-marker-alt top-icon"></i>22 Avenue hassan 1</li>
                <li><i class="fas fa-phone-volume top-icon"></i>+19 123-456-7890</li>
                <li><i class="fas fa-envelope top-icon"></i>mail@yourdomain.com</li>
            </ul>
        </div>
        <div class="right-top ">
            <ul>
                <li><i class="fab fa-facebook-f top-icons"></i>
                </li>
                <li><i class="fab fa-instagram top-icons"></i>
                </li>
                <li><i class="fab fa-linkedin-in top-icons"></i>
                </li>
                <li><i class="fab fa-twitter top-icons"></i>
                </li>
            </ul>
        </div>
    </div>
	<!--/Top Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a (click)="home()" class="navbar-brand logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a class="menu-logo">
                        <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <!-- //main nav -->
            </div>
            <ul class="nav header-navbar-rht">
                <li class="nav-item contact-item">
                    <div class="header-contact-img">
                        <i class="far fa-hospital"></i>
                    </div>
                    <div class="header-contact-detail">
                        <p class="contact-header">Contacter</p>
                        <p class="contact-info-header"> +212 522433394</p>
                    </div>
                </li>
                <li [class.active]="base === 'login-page'" class="nav-item" *ngIf="!this.auth">
                    <a class="nav-link header-login"  [routerLink]="'login-page'">connexion / Inscrivez-vous </a>
                </li>
                <!--  <li [class.active]="base === 'login-page'" class="nav-item" *ngIf="this.auth">
                    <a class="nav-link header-login"  (click)="Logout()">Logout</a>
                </li>-->
                <!-- User Menu -->
                <div *ngIf="nom != 'null null'">
                    <li class="nav-item dropdown has-arrow logged-item" *ngIf="this.auth">
                    <a href="javascript:void(0)" class="dropdown-toggle nav-link pointer" data-toggle="dropdown">
                        <span class="user-img mt-2">
                            <i class="fas fa-user-cog fa-2x"></i>
                        </span>
                     </a>
                    <div class="dropdown-menu dropdown-menu-right" style="right:0;left:auto;">
                        <div class="user-header">
                            <div class="avatar avatar-sm" *ngIf="type == 'patient'">
                                <img *ngIf="sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/fpat.png" width="31" alt="Image du patient">
                                <img *ngIf="sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/mpat.png" width="31" alt="Image du patient">
                            </div>
                            <div class="avatar avatar-sm" *ngIf="type == 'medecin'">
                                <img *ngIf="sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/fdoc.png" width="31" alt="Image du médecin">
                                <img *ngIf="sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/mdoc.png" width="31" alt="Image du médecin">
                            </div>
                            <div class="user-text">
                                <h6>{{nom}}</h6>
                                <p class="text-muted mb-0" *ngIf="!isPatient">Médecin</p>
                                <p class="text-muted mb-0" *ngIf="isPatient">Patient</p>
                            </div>
                        </div>
                        <a class="dropdown-item" *ngIf="!isPatient" [routerLink]="'/doctor/dashboard'"  style="cursor: pointer;">Tableau de bord</a>
                        <a class="dropdown-item" *ngIf="!isPatient" [routerLink]="'/doctor/settings'"  style="cursor: pointer;">Paramètres de profile</a>
                        <a class="dropdown-item" *ngIf="isPatient"  [routerLink]="'/patients/dashboard'"  style="cursor: pointer;">Tableau de bord</a>
                        <a class="dropdown-item" *ngIf="isPatient" [routerLink]="'/patients/settings'"  style="cursor: pointer;">Profile Paramètres</a>
                        <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Se déconnecter</a>
                    </div>
                </li>
                </div>
                
                    <!-- /User Menu -->
                        
            </ul>
           
        </nav>
    </header>
