<footer class="footer">				
	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-about">
						<div class="footer-logo">
							<img src="assets/img/footer-logo.png" alt="logo">
						</div>
						<div class="footer-about-content">
							<p>DOCEMSI est une platforme qui propose un service de gestion en ligne des consultations pour les professionnels de santé et un service de prise de rendez-vous en ligne pour les patients. </p>
							<div class="social-icon">
								<ul>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin-in"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-dribbble"></i> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Pour les patients</h2>
						<ul>
							<li><a [routerLink]="'/patients/search-doctor'">Recherche de médecins</a></li>
							<li><a [routerLink]="'/login'">Connexion</a></li>
							<li><a [routerLink]="'/Register'">S'inscrire</a></li>
							<li><a [routerLink]="'/patients/dashboard'">Tableau de bord du patient</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Pour les médecins</h2>
						<ul>
							<li><a [routerLink]="'/doctor/appointment'">Rendez-vous</a></li>
							<li><a  [routerLink]="'/doctor/message'">Discuter</a></li>
							<li><a [routerLink]="'/login'">Connexion</a></li>
							<li><a [routerLink]="'/Register'">S'inscrire</a></li>
							<li><a [routerLink]="'/doctor/dashboard'">Dashboard du médecins </a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-lg-3 col-md-6">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-contact">
						<h2 class="footer-title">Nous contacter</h2>
						<div class="footer-contact-info">
							<div class="footer-address">
								<span><i class="fas fa-map-marker-alt"></i></span>
								<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
							</div>
							<p>
								<i class="fas fa-phone-alt"></i>
								+1 315 369 5943
							</p>
							<p class="mb-0">
								<i class="fas fa-envelope"></i>
								DOCEMSI@example.com
							</p>
						</div>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- /Footer Top -->
	
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container-fluid">
		
			<!-- Copyright -->
			<div class="copyright">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="copyright-text">
							<p class="mb-0">© 2021 DOCEMSI. Tous les droits sont réservés.</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
					
						<!-- Copyright Menu -->
						<div class="copyright-menu">
							<ul class="policy-menu">
								<li><a [routerLink]="'/terms-conditions'">Termes et conditions</a></li>
								<li><a [routerLink]="'/privacy-policy'">Politique</a></li>
							</ul>
						</div>
						<!-- /Copyright Menu -->
						
					</div>
				</div>
			</div>
			<!-- /Copyright -->
			
		</div>
	</div>
	<!-- /Footer Bottom -->	
</footer>