<div class="col-md-12">   
    <div class="row">
        <div class="col-md-12">
            <div class="card dash-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar1">
                                    <div class="circle-graph1" data-percent="75">
                                        <img src="assets/img/icon-01.png" class="img-fluid" alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Total des patients</h6>
                                    <h3>{{AppointmentsCount}}</h3>
                                    <p class="text-muted">À aujourd'hui</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="65">
                                        <img src="assets/img/icon-02.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Nombre de patients</h6>
                                    <h3>{{AppointmentsCount}}</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget">
                                <div class="circle-bar circle-bar3">
                                    <div class="circle-graph3" data-percent="50">
                                        <img src="assets/img/icon-03.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Nombre de consulations</h6>
                                    <h3>{{AppointmentsCount}}</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 stats -->
                    <div class="row mt-2">
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar1">
                                    <div class="circle-graph1" data-percent="75">
                                        <img src="assets/img/icon-01.png" class="img-fluid" alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Taux des Annulation</h6>
                                    <h3>{{Taux}}%</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="65">
                                        <img src="assets/img/icon-02.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Taux d'Acceptation</h6>
                                    <h3>{{TauxAccept}}%</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget">
                                <div class="circle-bar circle-bar3">
                                    <div class="circle-graph3" data-percent="50">
                                        <img height="39px" width="39px" src="https://image.flaticon.com/icons/png/512/65/65780.png" class="" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Total profit</h6>
                                    <h3>{{sumTarif}}DH</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Rendez-vous des patients</h4>
            <div class="appointment-tab">
            
                <!-- Appointment Tab -->
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                    <li class="nav-item">
                        <a class="nav-link active" href="#upcoming" [ngClass]="{ 'active':activeTab==='upcomming'}" (click)="search('upcomming')" data-toggle="tab">A venir</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#today" [ngClass]="{ 'active':activeTab==='today'}" (click)="result('today')" data-toggle="tab">Aujourd'hui</a>
                    </li>  -->
                </ul>
                <!-- /Appointment Tab -->
                
                <div class="tab-content">
                
                    <!-- Upcoming Appointment Tab -->
                    <div class="tab-pane" id="upcoming" [ngClass]="{ 'active':activeTab==='upcomming'}">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Nom du patient</th>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Raison</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Tarif payé</th>
                                                <th class="text-center">Etat courant</th>
                                                <th class="text-center">Actions</th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let appointment of AppointmentsInfo">
                                                <td>
                                                    
                                                    <h2 class="table-avatar">
                                                        <a [routerLink]="'/doctor/patients-profile'" class="avatar avatar-sm mr-2">
                                                            <img *ngIf="appointment.sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/fpat.png" alt="User Image">
                                                            <img *ngIf="appointment.sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/mpat.png" alt="User Image">
                                                        </a>
                                                        <a >{{appointment.nom}} {{appointment.prenom}}</a>
                                                    </h2>
                                                </td>
                                                <td>{{appointment.date | date : 'dd MMM yyyy'}}<span class="d-block text-info text-center">{{appointment.heure}}</span></td>
                                                <td>{{appointment.raison}}</td>
                                                <td>{{appointment.type}}</td>
                                                <td class="text-center">{{appointment.tarif}}DH</td>

                                                <td *ngIf="appointment.etat == 'Accepter'" class="text-center text-success"><span _ngcontent-yos-c204="" class="badge badge-pill bg-success-light">{{appointment.etat}}</span></td>
                                                <td *ngIf="appointment.etat == 'Annuler'" class="text-center text-danger"><span _ngcontent-yos-c204="" class="badge badge-pill bg-danger-light">{{appointment.etat}}</span></td>
                                                <td *ngIf="appointment.etat == 'En attente'" class="text-center text-warning"><span _ngcontent-yos-cc204="" class="badge badge-pill bg-warning-light">{{appointment.etat}}</span></td>

                                                <td *ngIf="appointment.etat != 'Accepter'" class="text-right" >
                                                    <div class="table-action">
                                                        
														<a (click)="openModal(template,appointment,appointment.const_id,appointment.heure,appointment.date,appointment.prenom,appointment.nom)" class="btn btn-sm bg-success-light mr-3">
                                                            <i class="fas fa-check"></i> Accepter
                                                        </a> 
                                                        <a href="javascript:void(0);" (click)="openModal(Declinetemplate,appointment,appointment.const_id,appointment.heure,appointment.date,appointment.prenom,appointment.nom)" class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> Annuler
                                                        </a>
                                                    </div>
                                                </td>
                                                <td *ngIf="appointment.etat == 'Accepter'" class="text-right" >
                                                    <div class="table-action">
                                                        
														<a class="btn bg-infos-light">
                                                            <i class="fas fa-check"></i> Réglé
                                                        </a>
                                                    </div>
                                                </td>
                                               
                                            </tr>
                                            
                                        </tbody>
                                    </table>		
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Upcoming Appointment Tab -->
               
                    <!-- Today Appointment Tab -->
                    <!-- <div class="tab-pane" id="today" [ngClass]="{ 'active':activeTab==='today'}">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Patient Name</th>
                                                <th>Appt Date</th>
                                                <th>Purpose</th>
                                                <th>Type</th>
                                                <th class="text-center">Paid Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let appointment of appointments">
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="appointment?.patients?.img" alt="User Image"></a>
                                                        <a >{{appointment?.patients?.name}}<span>{{appointment?.patients?.key}}</span></a>
                                                    </h2>
                                                </td>
                                                <td>{{appointment.appointment_time | date : 'dd MMM yyyy'}}<span class="d-block text-info">10.00 AM</span></td>
                                                <td>General</td>
                                                <td>{{appointment.type}}</td>
                                                <td class="text-center">{{appointment.amount}}</td>
                                                <td class="text-right">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                            <i class="far fa-eye"></i> View
                                                        </a>
                                                        
                                                        <a (click)="openModal(template,appointment)" class="btn btn-sm bg-success-light">
                                                            <i class="fas fa-check"></i> Accept
                                                        </a>
                                                        <a href="javascript:void(0);" (click)="openModal(Declinetemplate,appointment)" class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> Cancel
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>		
                                </div>	
                            </div>	
                        </div>	
                    </div> -->
                    <!-- /Today Appointment Tab -->
                    
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Accepter</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Êtes-vous sûr que vous voulez accepter ce patient?
      <div style="margin-top:25px">
        <button type="button" id="btn-yes" (mouseover)="btnColor()" class="btn btn-default" (click)="confirm()" >Yes</button>
        <button type="button" id="btn-no" (mouseover)="btnColorNo()" class="btn btn-primary" (click)="cancel()" >No</button>
      </div>
    </div>
  </ng-template>

  <ng-template #Declinetemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Annuler</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Êtes-vous sûr que vous voulez annuler ce patient?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" (click)="decline()" >Oui</button>
        <button type="button" class="btn btn-primary" (click)="cancel()" >Non</button>
     </div>
    </div>
  </ng-template>