<div class="col-md-12">   
    <div class="row">
        <div class="col-md-12">
            <div class="card dash-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar1">
                                    <div class="circle-graph1" data-percent="75">
                                        <img src="assets/img/icon-01.png" class="img-fluid" alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Total des patients</h6>
                                    <h3>{{PatientTodayCount}}</h3>
                                    <p class="text-muted">À aujourd'hui</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="65">
                                        <img src="assets/img/icon-02.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Nombre des patients</h6>
                                    <h3>{{PatientCount}}</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget">
                                <div class="circle-bar circle-bar3">
                                    <div class="circle-graph3" data-percent="50">
                                        <img src="assets/img/icon-03.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Nombre de consulations</h6>
                                    <h3>{{AppointmentsCount}}</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 stats -->
                    <div class="row mt-3">
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar1">
                                    <div class="circle-graph1" data-percent="70">
                                        <img src="assets/img/icon-05.png" class="img-fluid" alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Taux des Annulation</h6>
                                    <h3>{{Taux.substring(0,5)}}%</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="70">
                                        <img src="assets/img/icon-04.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Taux d'Acceptation</h6>
                                    <h3>{{TauxAccept.substring(0,5)}}%</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget">
                                <div class="circle-bar circle-bar3">
                                    <div class="circle-graph3" data-percent="50">
                                        <img src="assets/img/icon-06.png" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>Total profit</h6>
                                    <h3>{{sumTarif}}DH</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Rendez-vous des patients</h4>
            <div class="appointment-tab">
            
                <!-- Appointment Tab -->
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                    <li class="nav-item">
                        <a class="nav-link active" href="#upcoming" [ngClass]="{ 'active':activeTab==='upcomming'}" (click)="search('upcomming')" data-toggle="tab">A venir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#today" [ngClass]="{ 'active':activeTab==='today'}" (click)="search('today')" data-toggle="tab">Médecin Remplaçant</a>
                    </li>
                </ul>
                <!-- /Appointment Tab -->
                
                <div class="tab-content">
                
                    <!-- Upcoming Appointment Tab -->
                    <div class="tab-pane" id="upcoming" [ngClass]="{ 'active':activeTab==='upcomming'}">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Nom du patient</th>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Raison</th>
                                                <th class="text-center">Type</th>
                                                <th class="text-center">Etat courant</th>
                                                <th class="text-center">Actions</th>
                                                <th class="text-center">Ordonnance</th> 

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let appointment of AppointmentsInfo">
                                                <td>
                                                    
                                                    <h2 class="table-avatar">
                                                        <a [routerLink]="'/doctor/patients-profile'" class="avatar avatar-sm mr-2">
                                                            <img *ngIf="appointment.sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/fpat.png" alt="User Image">
                                                            <img *ngIf="appointment.sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/mpat.png" alt="User Image">
                                                        </a>
                                                        <a >{{appointment.nom}} {{appointment.prenom}}</a>
                                                    </h2>
                                                </td>
                                                <td>{{appointment.date | date : 'dd MMM yyyy'}}<span class="d-block text-info text-center">{{appointment.heure.substring(0,5)}}</span></td>
                                                <td><textarea rows="1"  style="width: auto;" class="form-control">{{appointment.raison}}</textarea></td>
                                                <td>{{appointment.type}}</td>
                                                <!-- <td class="text-center">DH{{appointment.tarif}}</td> -->

                                                <td *ngIf="appointment.etat == 'Accepter'" class="text-center text-success"><span _ngcontent-yos-c204="" class="badge badge-pill bg-success-light">{{appointment.etat}}</span></td>
                                                <td *ngIf="appointment.etat == 'Annuler'" class="text-center text-danger"><span _ngcontent-yos-c204="" class="badge badge-pill bg-danger-light">{{appointment.etat}}</span></td>
                                                <td *ngIf="appointment.etat == 'En attente'" class="text-center text-warning"><span _ngcontent-yos-cc204="" class="badge badge-pill bg-warning-light">{{appointment.etat}}</span></td>

                                                <td *ngIf="appointment.etat == 'En attente'" class="text-right p-0" >
                                                    <div class="table-action">
                                                        
														<a (click)="openModal(template,appointment,appointment.const_id,appointment.heure,appointment.date,appointment.prenom,appointment.nom,appointment.desc)" class="btn btn-sm bg-success-light mr-2 rounded-pill">
                                                            <i class="fas fa-check"></i> Accepter
                                                        </a> 
                                                        <a href="javascript:void(0);" (click)="openModal(Declinetemplate,appointment,appointment.const_id,appointment.heure,appointment.date,appointment.prenom,appointment.nom,appointment.desc)" class="btn btn-sm bg-danger-light rounded-pill">
                                                            <i class="fas fa-times"></i> Annuler
                                                        </a>
                                                    </div>
                                                </td>
                                                <td *ngIf="appointment.etat == 'Annuler'">
                                                    <div class="table-action text-center">
														<a class="btn bg-infos-light">
                                                            <i class="fas fa-check"></i> Réglé
                                                        </a>
                                                    </div>
                                                </td>
                                                <td *ngIf="appointment.etat == 'Accepter'">
                                                    <div class="table-action text-center">
														<a class="btn bg-infos-light">
                                                            <i class="fas fa-check"></i> Réglé
                                                        </a>
                                                    </div>
                                                </td>
                                                <td *ngIf="appointment.etat == 'Accepter'" class="text-right" >
                                                    <div class="table-action">

														<a (click)="openModal(PersTemplate,appointment,appointment.const_id,appointment.heure,appointment.date,appointment.prenom,appointment.nom,appointment.desc)" class="btn btn-sm bg-success-light">
                                                            Voir Ordonnance
                                                        </a> 


                                                    </div>
                                                </td>

                                                <td *ngIf="appointment.etat != 'Accepter'" class="text-right" >
                                                    <div class="table-action">

														<button disabled class="btn btn-default">
                                                          Pas Disponnible
                                                        </button> 


                                                    </div>
                                                </td>
                                               
                                            </tr>
                                            
                                        </tbody>
                                    </table>		
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Upcoming Appointment Tab -->
               
                    <!-- Today Appointment Tab -->
                  <div class="tab-pane" id="today" [ngClass]="{ 'active':activeTab==='today'}">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <form [formGroup]="myForm">
                                        <table class="table table-hover table-center mb-0">
                                            <tbody>
                                                <tr>
                                                    <td><input type="date" name="" id="" class="form-control" (change)="getDate()" formControlName="date"></td>
                                                    <td> 
                                                        <select name="" id="" class="form-control" formControlName="meds" (change)="getMed()">
                                                                <option *ngFor="let doc of docs" value="{{doc.med_id}}">{{doc.nom}} {{doc.prenom}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                   </form>
                                  <table class="table table-hover table-center mb-0">
                                    <thead class="text-center">
                                        <tr>
                                            <th>Patient</th>
                                            <th>Date</th>
                                            <th>Heure</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center" *ngFor="let con of cons">
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a [routerLink]="'/doctor/patients-profile'" class="avatar avatar-sm mr-2">
                                                        <img *ngIf="con.sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/fpat.png" alt="User Image">
                                                        <img *ngIf="con.sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/mpat.png" alt="User Image">
                                                    </a>
                                                    <a >{{con.nom}} {{con.prenom}}</a>
                                                </h2>
                                            </td>
                                            <td>{{con.date | date}}</td>
                                            <td>{{con.heure.substring(0,5)}}</td>
                                            <td><Button class="btn btn-primary" (click)="Replace(con.id)">Remplacer</Button></td>
                                        </tr>
                                    </tbody>
                                 </table>
                                </div>
                            </div>	
                        </div>	
                    </div> 
                    <!-- /Today Appointment Tab -->
                    
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Accepter</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Êtes-vous sûr que vous voulez accepter ce patient?
      <div style="margin-top:25px">
        <button type="button" id="btn-yes" (mouseover)="btnColor()" class="btn btn-default" (click)="confirm()" >Oui</button>
        <button type="button" id="btn-no" (mouseover)="btnColorNo()" class="btn btn-primary" (click)="cancel()" >Non</button>
      </div>
    </div>
  </ng-template>

  <ng-template #Declinetemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Annuler</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Êtes-vous sûr que vous voulez annuler ce patient?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" (click)="decline()" >Oui</button>
        <button type="button" class="btn btn-primary" (click)="cancel()" >Non</button>
     </div>
    </div>
  </ng-template>

  <ng-template #PersTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modifier Ordonnance</h4>

    
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
     
     <textarea name="" id="ord" cols="5" rows="5" class="form-control">{{this.desc}}</textarea>
      <div style="margin-top:25px">
        <button type="button" class="btn btn-primary mr-2" (click)="Modifier()" >Modifer</button>
        <button type="button" class="btn btn-danger" (click)="cancel()" >Annuler</button>
     </div>
    </div>
  </ng-template>