 <div class="page-wrapper">
	<div class="content container-fluid">			
					<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Liste des patients</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Tableau de bord</a></li>
						<li class="breadcrumb-item"><a href="javascript:(0);">Utilisateurs</a></li>
						<li class="breadcrumb-item active">Patients</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Identifiant</th>
										<th>Nom</th>
										<th>Téléphone</th>
								
										<th> Sexe </th>
										<th>Derniere visite</th>
										<th class="text-right">A payé</th>
										<th>Statut du compte</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let patient of showpatients">
										
										<td>
											<a href="javascript:void(0)" class="avatar avatar-sm mr-2">
											<img *ngIf="patient.sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/fpat.png" alt="User Image">
											<img *ngIf="patient.sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/patients/mpat.png" alt="User Image">
											</a>#U0{{patient.patient_id}}</td>
										<td>
											<h2 class="table-avatar">
												<a>{{patient.nom}} {{patient.prenom}} </a>
											</h2>
										</td>
										<td>{{patient.telePerso}}</td>
										<td>{{patient.sexe}}</td>
										<td>{{patient.date}}</td>
										<td class="text-right">DH{{patient.tarifs}}</td>
										<td>
											<div class="status-toggle">

												<input *ngIf="patient.isActive=='1'" type="checkbox" (change)="onchange(patient.isActive,patient.user_id)" id="{{patient.user_id}}" class="check" checked>
												<input *ngIf="patient.isActive=='0'" type="checkbox" (change)="onchange(patient.isActive,patient.user_id)" id="{{patient.user_id}}" class="check">
												<label for="{{patient.user_id}}" class="checktoggle">checkbox</label>
											</div>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
	</div>			
</div>