<div class="page-wrapper">

    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <h3 class="page-title">Spécialités</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="''">Tableau de bord</a></li>
                        <li class="breadcrumb-item active">Spécialités</li>
                    </ul>
                </div>
                <div class="col-sm-5 col">
                    <a  class="btn btn-primary float-right mt-2" data-toggle="modal"
                        (click)="openModal(template)">
                         Ajouter
                    </a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Spécialités</th>
                                        <th class="text-right">actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let special of showspecialities">
                                        <td>{{special.spec_id}}</td>

                                        <td>
                                            <h2 class="table-avatar">
                                               
                                                <a>{{special.libelle}}</a>
                                            </h2>
                                        </td>

                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light" data-toggle="modal"
                                                    (click)="editModal(edittemplate,special,special.spec_id)">
                                                    <i class="fe fe-pencil"></i> Éditer
                                                </a>
                                                <a data-toggle="modal" (click)="deleteModal(delete,special,special.spec_id)"
                                                    class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> Effacer
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Ajouter des spécialités</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="addspec()" method="POST">
            <div class="row form-row">
                <div class="d-inline-flex p-2">
                    <div class="form-group">
                        <label>Spécialités</label>
                        <input type="text" class="form-control" name="speciality" formControlName="libelle">
                    </div>
                </div>
                <!-- <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="form-control">
                    </div>
                </div> -->
                
            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="save()">Sauvegarder les modifications</button>
        </form>
    </div>
</ng-template>

<ng-template #edittemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modifier des spécialités</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="editspec()" method="POST">
            <div class="row form-row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Spécialités</label>
                        <input type="text" class="form-control" name="speciality" [(ngModel)]="name" formControlName="libelle">
                    </div>
                </div>
                
                
            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="update()">Éditer</button>
        </form>
    </div>
</ng-template>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Effacer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
      Voulez-vous bien supprimer cette spécialité??
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" (mouseover)="btnColor()" id="btn-yes" (click)="deletespec()" >Oui</button>
        <button type="button" class="btn btn-primary" (mouseover)="btnColorNo()" id="btn-no" (click)="decline()" >Non</button>
      </div>
    </div>
</ng-template>