<div class="card">
								<div class="card-body pt-0">
								
									<!-- Tab Menu -->
									<nav class="user-tabs mb-4">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Rendez-vous</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_prescriptions" data-toggle="tab">Ordonnances</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_medical_records" data-toggle="tab"><span class="med-records">Dossiers médicaux</span></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_billing" data-toggle="tab">Facturation</a>
											</li>
										</ul>
									</nav>
									<!-- /Tab Menu -->
									
									<!-- Tab Content -->
									<div class="tab-content pt-0">
										
										<!-- Appointment Tab -->
										<div id="pat_appointments" class="tab-pane fade show active">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th class="text-center">Médecin</th>
																	<th class="text-center">Date du rendez-vous</th>
																	<th class="text-center">Montant</th>
																	<th class="text-center">Type</th>
																	<th class="text-center">Statut</th>
																	<th class="text-center">Changer statut</th>
																</tr>
															</thead>
															<tbody>
																<tr *ngFor="let app of AppointmentsInfo">
																	<td>
																		<h2 class="table-avatar">
																			<a  class="avatar avatar-sm mr-2">
																				<img *ngIf="app.msexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/fdoc.png" alt="User Image">
																				<img *ngIf="app.msexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/mdoc.png" alt="User Image">
																			
																			</a>
																			<a >Dr. {{app.nom}} {{app.prenom}} <span>{{app.libelle}}</span></a>


																		</h2>


																		<a (click)="Go(app.user_id, app.nom, app.prenom,app.msexe)" class="btn btn-outline-success ml-4 text-success"><i class="far fa-envelope"></i></a>
																	</td>
																	<td class="text-center">{{app.date |  date}} <span class="d-block text-info ">{{app.heure.substring(0,5)}}</span></td>
																	<td class="text-center">DH{{app.tarif}}</td>
																	<td class="text-center">{{app.type}}</td>
																	<td class="text-center"><span *ngIf="app.etat == 'Accepter'" class="badge badge-pill bg-success-light">{{app.etat}}</span>
																		<span *ngIf="app.etat == 'Annuler'" class="badge badge-pill bg-danger-light">{{app.etat}}</span>
																		<span *ngIf="app.etat == 'En attente'" class="badge badge-pill bg-warning-light">{{app.etat}}</span>
																	</td>
																	<td *ngIf="app.etat == 'Accepter'" class="text-center p-0">
																		<div  class="table-action">
																			<a href="javascript:void(0);" (click)="changeState(app.const_id,'Annuler')" class="btn btn-sm bg-danger-light rounded-pill">
																				<i class="fas fa-times"></i> Annuler
																			</a>
																		</div>
																	</td>
																	<td *ngIf="app.etat == 'Annuler'">
																		<div class="table-action text-center">
																			<a class="btn bg-infos-light">
																				<i class="fas fa-check"></i> Réglé
																			</a>
																		</div>
																	</td>
																	<td *ngIf="app.etat == 'En attente'">
																		<div class="table-action text-center">
																			<a class="btn bg-infos-light">
																				<i class="fas fa-clock"></i> A réglé
																			</a>
																		</div>
																	</td>
																	
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Appointment Tab -->
										
										<!-- Prescription Tab -->
										<div class="tab-pane fade" id="pat_prescriptions">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Date </th>
																	<th>Points de vue</th>									
																	<th>Créé par</th>
																	<th></th>
																</tr>     
															</thead>
															<tbody>
																<tr *ngFor="let app of AppointmentsInfo">
																	<td>{{app.date}}</td>
																	<td><textarea class="form-control" name="" id="">{{app.desc}}</textarea></td>
																	<td>
																		<h2 class="table-avatar">
																			<a  class="avatar avatar-sm mr-2">
																				<img *ngIf="app.msexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/fdoc.png" alt="User Image">
																				<img *ngIf="app.msexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/mdoc.png" alt="User Image">
																			</a>
																			<a >Dr. {{app.nom}} {{app.prenom}}  <span>{{app.libelle}}</span></a>
																		</h2>
																	</td>
									
																</tr>
															</tbody>	
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Prescription Tab -->
											
										<!-- Medical Records Tab -->
										<div id="pat_medical_records" class="tab-pane fade">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>identifiant</th>
																	<th>date</th>
																	<th>Ordonnances</th>
																	<th>Raison</th>
																	<th>Créé</th>
																</tr>     
															</thead>
															<tbody>
																<tr *ngFor="let doss of Dossiers">
																	<td><a href="javascript:void(0);">#DM-{{doss.doss_id}}{{doss.const_id}}</a></td>
																	<td>{{doss.date}}</td>
																	<td><textarea disabled name="" id="" class="form-control">{{doss.desc}}</textarea></td>
																	<td><textarea disabled name="" id="" class="form-control">{{doss.raison}}</textarea></td>
																	<td>
																		<h2 class="table-avatar">
																			<a  class="avatar avatar-sm mr-2">
																				<img *ngIf="doss.sexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/fdoc.png" alt="User Image">
																				<img *ngIf="doss.sexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/mdoc.png" alt="User Image">
																			</a>
																			<a >Dr. {{doss.nom}} {{doss.prenom}}<span>{{doss.libelle}}</span></a>
																		</h2>
																	</td>
																</tr>
															</tbody>  	
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Medical Records Tab -->
										
										<!-- Billing Tab -->
										<div id="pat_billing" class="tab-pane fade">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Facture No</th>
																	<th>Médecin</th>
																	<th>Montant</th>
																	<th>Payé le</th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr *ngFor="let app of AppointmentsInfo">
																	<td>
																		<a [routerLink]="'/invoice-details'">#INV-0{{app.const_id}}</a>
																	</td>
																	<td>
																		<h2 class="table-avatar">
																			<a  class="avatar avatar-sm mr-2">
																				<img *ngIf="app.msexe == 'f'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/fdoc.png" alt="User Image">
																				<img *ngIf="app.msexe == 'm'" class="avatar-img rounded-circle" src="../../../assets/admin/img/doctors/mdoc.png" alt="User Image">
																			</a>
																			<a >Dr. {{app.nom}} {{app.prenom}} <span>{{app.libelle}}</span></a>
																		</h2>
																	</td>
																	<td>DH{{app.tarif}}</td>
																	<td>{{app.date}}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Billing Tab -->
										
									</div>
									<!-- Tab Content -->
									
								</div>
							</div>