<div class="d-flex justify-content-center">
    <div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Modifier vos informations</h4>
        </div>
        <div class="container mg-auto card-body">
            <form [formGroup]="myForm" (ngSubmit)="update()">
                <div class="form-group">
                    <label>Nom<span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="nom">
                </div>
                <div class="form-group">
                    <label>Prenom<span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="prenom">
                </div>
                <div class="form-group">
                    <label class="d-block">Sexe<span class="required">*</span></label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="gender_male" value="m" formControlName="sexe">
                        <label class="form-check-label" for="gender_male">Masculin</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="gender_female" value="f" formControlName="sexe">
                        <label class="form-check-label" for="gender_female">Féminin</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Date de naissance<span class="required">*</span></label>
                    <input type="date" class="form-control" formControlName="dateNaiss">
                </div>
                <div class="form-group">
                    <label>Telephone<span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="tele">
                </div>
                <div class="form-group">
                    <label>Ville<span class="required">*</span></label>
                    <select class="select form-control" formControlName="pays">
                        <option *ngFor="let v of villes">{{v.ville}}</option>
                     </select>
                </div>
                <div class="row">
                    <div class="submit-section col-6 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary submit-btn" [disabled]="!myForm.valid">Modifier</button>
                    </div>
                    <div class="submit-section col-6 d-flex justify-content-center">
                        <button type="reset" [routerLink]="'/patients/dashboard'" class="btn btn-primary submit-btn">Annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
