<!-- Breadcrumb -->
		<!-- 	<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Doctor Profile</h2>
						</div>
					</div>
				</div>
			</div> -->
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="card" *ngFor="let doctor of doctorsInfo">
								
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctor.id}">
											<img *ngIf="doctor.sexe =='m'" src="../../../assets/admin/img/doctors/mdoc.png" class="img-fluid" alt="User Image">
											<img *ngIf="doctor.sexe =='f'" src="../../../assets/admin/img/doctors/fdoc.png" class="img-fluid" alt="User Image">
										</a>

									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name"><a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: doctor.id}">{{doctor.nom}} {{doctor.prenom}}</a></h4>
										<h5 class="doc-department"><i class="fas fa-notes-medical"></i> {{doctor.libelle}}</h5>
										
										<div class="clinic-details">
											<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Maroc, {{doctor.ville}}</p>
											<p class="doc-location"><i class="fas fa-phone-alt"></i> {{doctor.telePerso}}</p>
										</div>
										<div class="clinic-services">
											<span><i class="far fa-hospital fa-lg"></i> {{doctor.adresseCabinet}}</span>
										</div>
									</div>
								</div>
								<div class="doc-info-right">
									<div class="clinic-services">
										<span class="doc-name col-12 text-center mb-2">{{doctor.tarif}} DHs</span>
									</div>
									<div class="clinic-booking">
										<a class="apt-btn" style="cursor: pointer;" (click)="bookAppointment(doctor.med_id)">Rendez-vous</a>
									</div>
								</div>
							</div>
						</div>
					</div>		
					
					<!-- Doctor Details Tab -->
					<div class="card">
						<div class="card-body pt-0">
						
							<!-- Tab Menu -->
							<nav class="user-tabs mb-4">
								<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
									<li class="nav-item">
										<a class="nav-link" href="#doc_business_hours" data-toggle="tab">Heures de travail</a>
									</li>
								</ul>
							</nav>
							<!-- /Tab Menu -->
							
							<!-- Tab Content -->
							<div class="tab-content pt-0">
								
								<!-- Business Hours Content -->
								<div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
									<div class="row">
										<div class="col-md-6 offset-md-3">
										
											<!-- Business Hours Widget -->
											<div class="widget business-widget">
												<div class="widget-content">
													<div class="listing-hours">
														<div class="listing-day" *ngIf="this.lundi[0]">
															<div class="day">Lundi</div>
															<div class="time-items">
																<span class="time">{{this.lundi[0].heureDebut.substring(0,5)}} - {{this.lundi[this.lundi.length - 1].heureFin.substring(0,5)}}</span>
															</div>
														</div>
														<div class="listing-day" *ngIf="this.Mardi[0]">
															<div class="day">Mardi</div>
															<div class="time-items">
																<span class="time">{{this.Mardi[0].heureDebut.substring(0,5)}} - {{this.Mardi[this.Mardi.length - 1].heureFin.substring(0,5)}}</span>
															</div>
														</div>
														<div class="listing-day" *ngIf="this.Mercredi[0]">
															<div class="day">Mercredi</div>
															<div class="time-items">
																<span class="time">{{this.Mercredi[0].heureDebut.substring(0,5)}} - {{this.Mercredi[this.Mercredi.length - 1].heureFin.substring(0,5)}}</span>
															</div>
														</div>
														<div class="listing-day" *ngIf="this.Jeudi[0]">
															<div class="day">Jeudi</div>
															<div class="time-items">
																<span class="time">{{this.Jeudi[0].heureDebut.substring(0,5)}} - {{this.Jeudi[this.Jeudi.length - 1].heureFin.substring(0,5)}}</span>
															</div>
														</div>
														<div class="listing-day" *ngIf="this.Vendredi[0]">
															<div class="day">Vendredi</div>
															<div class="time-items">
																<span class="time">{{this.Vendredi[0].heureDebut.substring(0,5)}} - {{this.Vendredi[this.Vendredi.length - 1].heureFin.substring(0,5)}}</span>
															</div>
														</div>
														<div class="listing-day" *ngIf="this.Samedi[0]">
															<div class="day">Samedi</div>
															<div class="time-items">
																<span class="time">{{this.Samedi[0].heureDebut.substring(0,5)}} - {{this.Samedi[this.Samedi.length - 1].heureFin.substring(0,5)}}</span>
															</div>
														</div>
														<div class="listing-day" *ngIf="this.Dimanche[0]">
															<div class="day">Dimanche</div>
															<div class="time-items">
																<span class="time">{{this.Dimanche[0].heureDebut.substring(0,5)}} - {{this.Dimanche[this.Dimanche.length - 1].heureFin.substring(0,5)}}</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- /Business Hours Widget -->
									
										</div>
									</div>
								</div>
								<!-- /Business Hours Content -->
								
							</div>
						</div>
					</div>
					<!-- /Doctor Details Tab -->

				</div>
			</div>	