	<!-- Breadcrumb -->
		<!-- 	<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Booking</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Booking</h2>
						</div>
					</div>
				</div>
			</div> -->
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">
				
					<div class="row">
						<div class="col-12">
						
							<div class="card">
								<div class="card-body">
									<div class="booking-doc-info" *ngIf="doctorDetails">
										<a [routerLink]="'patients/doctor-profile'" class="booking-doc-img">
											<img src={{doctorDetails.profile}} alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a [routerLink]="'patients/doctor-profile'">{{doctorDetails.doctor_name}}</a></h4>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">35</span>
											</div>
											<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{doctorDetails.location}}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-sm-4 col-md-6">
									<h4 class="mb-1">{{this.tody.jour_num}} {{this.tody.mois.substring(0,1).toUpperCase()+this.tody.mois.substring(1)}} {{this.tody.annee}}</h4>
									<p class="text-muted">{{this.tody.jour_alfa.substring(0,1).toUpperCase()+this.tody.jour_alfa.substring(1)}}</p>
								</div>
								<div class="col-12 col-sm-8 col-md-6 text-sm-right">
									<div class="bookingrange bm-3">
										<form  [formGroup]="myForm">
											<input class="form-control" type="date" formControlName="dateSelected" id="date" (change)="GetDate()" name="dd" [ngModel]="dd"/>
										</form>
									
									</div>
								</div>
                            </div>
							<!-- Schedule Widget -->
							<div class="card booking-schedule schedule-widget" *ngIf="this.date">
							
								<!-- Schedule Header -->
								<div class="schedule-header">
									<div class="row">
										<div class="col-md-12">
										
											<!-- Day Slot -->
											<div class="day-slot">
												<ul style="display: flex; justify-content: space-between;">
													<li class="left-arrow">
														<a (click)="Prev()">
															<i class="fa fa-chevron-left"></i>
														</a>
													</li>
													<li>
															
													</li>
													<li>
														<span>{{this.date.jour_alfa.substring(0,1).toUpperCase()+this.date.jour_alfa.substring(1)}}</span>
														<span class="slot-date">{{this.date.jour_num}} {{this.date.mois}} <small class="slot-year">{{this.date.annee}}</small></span>
													</li>	
													<li>
														
													</li>
													<li class="right-arrow">
														<a (click)="Next()">
															<i class="fa fa-chevron-right"></i>
														</a>
													</li>
												</ul>
											</div>
											<!-- /Day Slot -->
											
										</div>
									</div>
								</div>
								<!-- /Schedule Header -->
								
								<!-- Schedule Content -->
								<div class="schedule-cont">
									<div class="row">
										<div class="col-md-12">
										
											<!-- Time Slot -->
											<div class="time-slot doc-times">
												<div *ngFor="let data of this.datas">
													<a *ngIf="data.date == date.dateComp && data.jour.toLowerCase() == date.jour_alfa.toLowerCase() && data.pat_id == this.patient_id" type="button" class="btn  btn-outline-primary active ml-2 mt-2" id="{{data.id}}" (click)="Book(data.id,date.dateComp,data.pat_id)">{{data.hour}}</a>
													<a *ngIf="data.date == date.dateComp && data.jour.toLowerCase() == date.jour_alfa.toLowerCase() && data.pat_id != this.patient_id" type="button" class="btn  btn-outline-danger active ml-2 mt-2" id="{{data.id}}" (click)="Book(data.id,date.dateComp,data.pat_id)">{{data.hour}}</a>
													<a *ngIf="data.jour.toLowerCase() == date.jour_alfa.toLowerCase() && data.date != date.dateComp" type="button" class="btn  btn-outline-primary ml-2 mt-2" (click)="Book(data.id, date.dateComp,data.pat_id)" id="{{data.id}}">{{data.hour}}</a>
												</div>
											</div>
											<!-- /Time Slot -->
											
										</div>
									</div>
								</div>
								<!-- /Schedule Content -->
								
							</div>
							<!-- /Schedule Widget -->
							
							<!-- Submit Section -->
							<div class="submit-section proceed-btn text-right">
								<a [routerLink]="'/patients/checkout'" [queryParams]="{id: doctorDetails?.id}" class="btn btn-primary submit-btn">Proceed to Pay</a>
							</div>
							<!-- /Submit Section -->
							
						</div>
					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   