<div class="content">
    <div class="container-fluid">
        <div class="chat-window">
                    
            <!-- Chat Right -->
            <div class="chat-cont-right" style="margin:auto">
                <div class="chat-header">
                    <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                        <i class="material-icons">chevron_left</i>
                    </a>
                    <div class="media">
                        <div class="media-img-wrap">
                            <div class="avatar avatar-online">
                                <img *ngIf="!isDoctor && this.us_sexe == 'm'" src="../../../assets/admin/img/patients/mpat.png" alt="User Image" class="avatar-img rounded-circle">
                                <img *ngIf="!isDoctor && this.us_sexe == 'f'" src="../../../assets/admin/img/patients/fpat.png" alt="User Image" class="avatar-img rounded-circle">
                                <img *ngIf="isDoctor && this.us_sexe == 'm'" src="../../../assets/admin/img/doctors/mdoc.png" alt="User Image" class="avatar-img rounded-circle">
                                <img *ngIf="isDoctor && this.us_sexe == 'f'" src="../../../assets/admin/img/doctors/fdoc.png" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <div *ngIf="isDoctor" class="user-name">Dr. {{us_nom}} {{us_prenom}}</div>
                            <div *ngIf="!isDoctor" class="user-name">{{us_nom}} {{us_prenom}}</div>
                            <div class="user-status">en ligne</div>
                        </div>
                    </div>
                    <div class="chat-options">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#voice_call">
                            <i class="material-icons">local_phone</i>
                        </a>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#video_call">
                            <i class="material-icons">videocam</i>
                        </a>
                        <a href="javascript:void(0)">
                            <i class="material-icons">more_vert</i>
                        </a>
                    </div>
                </div>
                <div class="chat-body">
                    <div class="chat-scroll">
                        <ul class="list-unstyled" *ngFor="let message of this.messages">
                            <li *ngIf="message.sender == this.user_id" class="media sent">
                                <div class="media-body">
                                    <div class="msg-box">
                                        <div>
                                            <p>{{message.message}}</p>
                                            <ul class="chat-msg-info">
                                                <li>
                                                    <div class="chat-time">
                                                        <span>{{message.created_at  |  date:'medium'}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="message.receiver == this.user_id"  class="media received">
                                <div class="media-body">
                                    <div class="msg-box">
                                        <div>
                                            <p>{{message.message}}</p>
                                            <ul class="chat-msg-info">
                                                <li>
                                                    <div class="chat-time">
                                                        <span>{{message.created_at |  date:'medium'}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chat-footer">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="btn-file btn">
                                <i class="fa fa-paperclip"></i>
                                <input type="file">
                            </div>
                        </div>
                        <input type="text" class="input-msg-send form-control" [(ngModel)]="message" placeholder="Type something">
                        <div class="input-group-append" (click)="send()">
                            <button type="button" class="btn msg-send-btn"><i class="fab fa-telegram-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Chat Right -->                    
        </div>
    </div>
</div>	